*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    color: white;
}

body {
    max-width: 100%;
    background-color:rgba(134, 6, 238, 0.823);

}

.reader {
    position: relative;
    top: 1px;
    margin: 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}

    
.central {
    position: relative;
    max-width: 1282px;
    margin: 0 auto;
    padding:0 2%;
}

.header-left {

    float: left;
    padding:20%;
    margin: 10%;
    background-color: rgb(180, 21, 21);
    max-height: 15rem;
    margin-left: 2%;
    margin-right: 2%;

 }
.menu-header li {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 20px;
    margin:15px;

}

.menu ul li a {
    color:white;
    text-decoration: none;
    font-size: 18px;
}

.header-right img {
  max-width: 12px;
  margin: 20px;

}

.box-todo {
    max-width: 1283px;
    margin: 0 auto;
    padding: 0 20%;


}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box_ content {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 10px 0;
}

.netflixTitles {
    text-align:center ;
    font-weight: bold;
    font-size:20px;
    color:whitesmoke;
    width: 15rem;
    max-width: 2rem;
}

.netflixImages {
    margin: 10px;
    display: block;
    width: 60%;
    margin: 1rem;
    display: flex;
    background-color: rgb(230, 7, 7);
    padding: 20px;
    border-style: dotted;
}

.let {
    margin: 1rem;
    font-size: 18px;
}
