html, * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color:white;
    justify-content: space-between;
}

body {
    background-color:rgba(134, 6, 238, 0.823);
    color:rgb(16, 19, 15);
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin:0 auto;
}

header {
   
    background-color: rgb(225, 7, 7);
    padding: 0px 0;
    margin-left: -50%;
    margin-right: -50%;
    
}

.header-left {
    float: left;
}

.central {
    max-width: 1282px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {clear: both}

.header-left {
    float: left;
}

.menu-header li {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-right: 20%;
    margin: 15px;
}

.header-right a {
    float: right;
    margin: 50px;
}

.header-right img {
  max-width: 120px;
}

.box-todo {
    max-width: 1283px;
    margin: 0 auto;
    padding: 0 20%;


}

.conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box_ content {
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 10px 0;
}

.netflixTitles {
    font-weight: bold;
    font-size:20px;
    color:whitesmoke;
    width: 15rem;
    max-width: 2rem;
}

.netflixImages {
    width: 50%;
    margin: 1rem;
    display: flex;
    background-color: rgb(230, 7, 7);
    padding: 20px;
    border-style: dotted;
}

.let {
    margin: 1rem;
    font-size: 18px;
}
